{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block stylesheets %}
        <link href="{% static 'splash/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li id="login"><a href="{% url 'splash:login' %}" class="link">log in</a></li>
                <li><a href="{% url 'splash:choice' %}" class="link">create account</a></li>
                <a href="{% url 'trainers:index' %}"><li class="mdfNavTrainerForHire" id="new">get hired</li></a>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
    <div class="splash" id="main">
        <div class="row" id="init">
            <div class="col-1-1 col-centered">
                <h1 class="white mdfSexyWeight text-center mdfSmallShadow">Hire an experienced personal trainer and get into the best shape of your life.</h1>
            </div>
        </div>
        <div class="row m-t-2">
            <div class="col-3-4 col-centered">
                {% if messages %}
                    <div class="row m-b-2">
                        <div class="col-1-1 col-centered text-center blue">
                            {% for message in messages %}
                                {{ message|linebreaks|escape }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <form method="post" class="text-center" action="{% url 'splash:index' %}">
                    {% csrf_token %}
                    {% for field in new_form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="signup-btn">search</button>
                </form>
                {% if new_form.searchQ.errors %}
                    {% for error in new_form.searchQ.errors %}
                        <p class="error">* {{ error|striptags|escape }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row p-t-5 p-b-10">
        <div class="container">
            <div class="col-3-4 col-centered">
                <h1 class="mdfHeading text-center">Getting in shape just got a whole lot easier.</h1>
                <hr class="mdfHr">
            </div>
            <div class="row p-t-5">
                <div class="col-1-3 mdfFeatureBlockWrapper">
                    <img src="{% static 'splash/inc/plan.png' %}" class="mdfBlockImg" alt="Custom Plans">
                    <p class="mdfContent p-t-5 text-center">Receive personalized meal and workout plans from an experienced personal trainer.</p>
                </div>
                <div class="col-1-3 mdfFeatureBlockWrapper">
                    <img src="{% static 'splash/inc/track.png' %}" class="mdfBlockImg" alt="Custom Plans">
                    <p class="mdfContent p-t-5 text-center">Use our charting tools to track your progress and hone in on your weak areas to get the best results.</p>
                </div>
                <div class="col-1-3 mdfFeatureBlockWrapper">
                    <img src="{% static 'splash/inc/card.png' %}" class="mdfBlockImg" alt="Custom Plans">
                    <p class="mdfContent p-t-5 text-center">Pay your personal trainer securely through our industry standard payment processor.</p>
                </div>
            </div>
            <div class="row p-t-10">
                <div class="col-3-4 col-centered">
                    <h1 class="mdfHeading text-center">Real personal trainers. Real results.</h1>
                    <hr class="mdfHr">
                </div>
                <div class="row p-t-5">
                    <div class="col-1-3 mdfFeatureBlockWrapper">
                        <a href="#" class="mdfFeatureBlockWrapper" id="lose-weight">
                            <div class="mdfFeatureBlockContent">lose weight</div>
                            <div class="mdfFeatureBlock mdfFeature-lose-weight"></div>
                        </a>
                    </div>
                    <div class="col-1-3 mdfFeatureBlockWrapper">
                        <a href="#" class="mdfFeatureBlockWrapper" id="gain-muscle">
                            <div class="mdfFeatureBlockContent">gain muscle</div>
                            <div class="mdfFeatureBlock mdfFeature-gain-muscle"></div>
                        </a>
                    </div>
                    <div class="col-1-3 mdfFeatureBlockWrapper">
                        <a href="#" class="mdfFeatureBlockWrapper" id="cont-prep">
                            <div class="mdfFeatureBlockContent">get healthy</div>
                            <div class="mdfFeatureBlock mdfFeature-cont-prep"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mdfCtaWrapper">
                <div class="col-3-4 col-centered">
                    <a href="#" class="mdfCtaContainer"><h4 class="trainerForHire mdfFrontCta">browse personal trainers</h4></a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block javascript %}
    <script src="{% static 'splash/js/jquery.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'skeleton/skeleton.js' %}"></script>
    <script src="{% static 'splash/js/splash.js' %}"></script>
{% endblock %}


