{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | create an account{% endblock %}

    {% block stylesheets %}
        <link href="{% static 'splash/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li id="login"><a href="{% url 'splash:login' %}" class="link">log in</a></li>
                <li><a href="{% url 'splash:choice' %}" class="link">create account</a></li>
                <a href="{% url 'trainers:index' %}"><li class="mdfNavTrainerForHire" id="new">get hired</li></a>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row p-t-5 p-b-5">
            <h1 class="text-center m-b-5">Let's get you started on the right path!</h1>
            <div class="col-1-2" id="fit">
               <div class="col-1-2 col-centered" id="fitbrief">
                   <a href="{% url 'clients:signup' %}" class="mdfChooseYourFateBlueBtn text-center no-decor">I want to get fit</a>
                   <h4 class="m-t-5 mdfSexyWeight">Get customized meal and workout plans</h4>
                   <h4 class="m-t-2 mdfSexyWeight">Track your progress</h4>
                   <h4 class="m-t-2 m-b-2 mdfSexyWeight">Begin your journey towards a healthier life</h4>
                   <a href="#" class="mdfLink">learn more</a>
               </div>
            </div>
            <div class="col-1-2" id="train">
               <div class="col-1-2 col-centered" id="trainbrief">
                   <a href="{% url 'trainers:signup' %}" class="mdfChooseYourFateBtn text-center no-decor">I want to train people</a>
                   <h4 class="m-t-5 mdfSexyWeight">Find more people to train</h4>
                   <h4 class="m-t-2 mdfSexyWeight">Earn money online</h4>
                   <h4 class="m-t-2 m-b-2 mdfSexyWeight">Grow your personal training career</h4>
                   <a href="{% url 'trainers:index' %}" class="mdfLink">learn more</a>
               </div>
            </div>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'splash/js/splash.js' %}"></script>
    {% endblock %}