{% extends 'index.html' %}
{% load static from staticfiles %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li class="blue text-center">don't have an account?</li>
                <li><a href="{% url 'splash:choice' %}" class="text-center link no-decor">create account</a></li>
                <a href="{% url 'trainers:signup' %}"><li class="mdfNavTrainerForHire" id="new">get hired</li></a>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
    <div class="row" id="mdfLogin">
        <div class="container">
            <div class="col-1-2 col-centered">
                <h1 class="mdfSexyWeight m-b-2 white text-center">Get back to it!</h1>
                <hr class="mdfHr">
            </div>
            <div class="col-1-2 p-t-2 col-centered">
                {% if messages %}
                    {% for message in messages %}
                        <p class="error text-center">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% for field in loginform %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form action="{% url 'splash:login' %}" id="login-form" method="post" class="text-center">
                    {% csrf_token %}
                    {% for field in loginform %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="mdfLogInBtn">Log In</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

{% block javascript %}
    <script src="{% static 'splash/js/jquery.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'skeleton/mask.js' %}"></script>
    <script src="{% static 'skeleton/skeleton.js' %}"></script>
    <script src="{% static 'trainers/js/trainers.js' %}"></script>
{% endblock %}
