#mini-main, #mdfSignUp, #mdfLogin {
    background: url('../inc/gym.jpg') center;
    background-size: cover;
}


.chartjs {
    display: block;
    margin: 5% auto;
    width: 100% !important;
    min-height: 400px;
}

#clients, #income, #cat, #age, #reviews, #plans, #settings, #videos, #specialties, #meal, #workout, #payment, #freeze {
    margin-left: 15%;
    width: 85%;
    max-height: 100%;
    background-color: #fff;
    border-left: solid 1px #48a9e7;
}

#workout {
    border-left: solid 1px #e4e4e4;
}

.mdfDashboardHeader {
    width: 75%;
    margin: 0 auto;
    border-bottom: solid 1px #b7b7b7;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.plan {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 75%;
}

.plan h2, .plan h3 {
    margin-left: 5%;
}

#plans .plan {
    width: 100%;
}

.sub-menu {
    background-color: #fff;
    border-top: solid 5px #48a9e7;
    box-shadow: 0px 0px 3px #2b2b2b;
    display: none;
    padding: 1%;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 4%;
}

/*.sub-menu:before {
    content: '';
    position: absolute;
    top: -16px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #48a9e7;
}*/

.sub-menu h4 {
    margin-bottom: 2%;
    margin-left: 2%;
}


@media (max-width: 928px) {

    .plan {
        text-align: center;
    }

    .plan h2, .plan h3 {
        margin-left: 0;
    }

}

@media (max-width: 667px) {
    #clients, #income, #cat, #age, #reviews, #plans, #settings, #videos, #specialties, #meal, #workout, #payment {
        width: 100%;
        border: none;
        margin-left: 0;
    }
}