{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | dashboard{% endblock %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="active">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
    <div class="row">
        <div {% if not trainer.banner_img %} style="background: linear-gradient(to bottom, #666, #333);" {% elif trainer.banner_img %}
                                        style="background: url('{{ trainer.banner_img.url }}') center; background-size: cover;" {% endif %}>
            <div class="overlay p-t-8 p-b-2">
                <div class="row">
                    <div class="col-1-3 col-centered" id="user-info">
                        <div class="mdfProfilePic" {% if not trainer.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}'); background-size: cover;" {% elif trainer.profile_img %}
                                            style="background: url('{{ trainer.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                    </div>
                    <div class="col-1-3 col">
                        <h1 class="mdfUserDeets logoscript">{{ user.first_name|title }} {{ user.last_name|title }}</h1>
                        <h1 class="mdfUserDeets">{{ trainer.location }}</h1>
                    </div>
                </div>
         <div class="row p-t-5 p-b-2 mdfDashCoverLinks">
            <div class="col-1-3">
                <h4 class="mdfDashCoverLink text-center">{{ trainer.clients }} new clients</h4>
            </div>
            <div class="col-1-3">
                <h4 class="mdfDashCoverLink text-center">7.4 average rating</h4>
            </div>
            <div class="col-1-3">
                <h4 class="mdfDashCoverLink text-center">5 new messages</h4>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="dashboard">
    <div class="row dashboard-col" id="mdfSettingsLinks">
        <div id="mdfDashCollapse">
            <p>DASHBOARD MENU</p>
        </div>
        <div id="mdfDashLinkContainer">
            <div class="row">
                <h4><a href="#clients" class="active mdfClickToShow" data-target="clients" id="clientlink">My Clients</a></h4>
            </div>
            <div class="row">
                <h4><a href="#income" class="mdfDashLink mdfClickToShow" data-target="income" id="incomelink">Monthly Income</a></h4>
            </div>
            <div class="row">
                <h4><a href="#cat" class="mdfDashLink mdfClickToShow" data-target="cat" id="catlink">Clients by Category</a></h4>
            </div>
            <div class="row">
                <h4><a href="#age" class="mdfDashLink mdfClickToShow" data-target="age" id="agelink">Clients by Age</a></h4>
            </div>
            <div class="row">
                <h4><a href="#meal" class="mdfDashLink mdfClickToShow" data-target="meal">Meal Plans</a></h4>
            </div>
            <div class="row">
                <h4><a href="#workout" class="mdfDashLink mdfClickToShow" data-target="workout">Workout Plans</a></h4>
            </div>
            <div class="row">
                <h4><a href="#reviews" class="mdfDashLink mdfClickToShow" data-target="reviews" id="reviewlink">Reviews</a></h4>
            </div>
        </div>
    </div>

    <div class="row dashboard-col mdfClickContainer" id="clients">
        {% if trainer.clients > 0 %}
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" {% if not trainee.client.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}') center; background-size: cover;"
                 {% elif trainee.client.profile_img %} style="background: url('{{ trainee.client.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/kissy.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/kissy.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/kissy.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        <a href=#">
            <div class="mdfClient mdfClientWrapper p-t-2 p-b-2">
                <div class="mdfClientPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <h4 class="mdfClientName">{{ user.first_name|title }} {{ user.last_name|title }} <br>{{ trainer.location }}</h4>
            </div>
        </a>
        {% else %}
            <div class="col-3-4 col-centered">
                <h4 class="mdfSexyWeight p-t-5 p-b-5 text-center">Looks like you don't have any clients yet. Try updating your <span class="blue">overview</span>
                and adding more <span class="blue">specialties</span> in the settings tab to show up in more search results. Also, try messaging new users that have joined by visiting the <span class="blue">activity</span>
                tab above!</h4>
            </div>
        {% endif %}
    </div>

    <div class="row dashboard-col mdfClickContainer" id="income">
        <div class="col-3-4 col-centered">
            <canvas id="canvas" class="chartjs"></canvas>
            <h2 class="m-t-2 text-center">As of today, you have earned <span class="green">$1,325</span>.</h2>
        </div>
    </div>

    <div class="row dashboard-col mdfClickContainer" id="cat">
        <div class="col-3-4 col-centered">
            <canvas id="canvas3" class="chartjs"></canvas>
        </div>
    </div>

    <div class="row dashboard-col mdfClickContainer" id="age">
        <div class="col-3-4 col-centered">
            <canvas id="canvas4" class="chartjs"></canvas>
        </div>
    </div>

    <div class="row dashboard-col mdfClickContainer" id="meal">
        <div class="row m-b-2">
            <div class="col-1-2 p-t-2">
                <a href="#" class="no-decor pluslink mdfDashLink slideDownForm" data-target="uploadmeal">
                    <img class="plusimg" src="{% static 'trainers/inc/plus.png' %}">
                </a>
                <p class="plusimg-brief">Upload new meal plan (.pdf or excel file)</p>
            </div>
        </div>
        <div class="row slideForm" id="uploadmeal">
            <div class="col-3-4 col-centered">
                {% for field in trainerMealPlan %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form method="post" class="text-center" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mdfFakeInput m-b-2">
                        <div class="mdfInputLabel">
                            <h4 class="fakeInput"><a href="" id="mlpln" class="mdfLink">Add a new meal plan</a></h4>
                            <h4 class="mdfFileName" id="mealFile"></h4>
                            <h4 class="mdfFilePrompt">File must be of type .pdf or .xls</h4>
                            {{ trainerMealPlan.meal_plan }}
                       </div>
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Give your plan a name:</h4>
                        {{ trainerMealPlan.plan_name }}
                    </div><div class="mdfInputLabel">
                        <h4>Describe your plan:</h4>
                        {{ trainerMealPlan.plan_description }}
                    </div>
                    <input type="submit" name="mdfAddMealPlan" class="mdfLogInBtn" value="Add Meal Plan">
                </form>
            </div>
        </div>
        <div class="col-1-1">
            {% if mealPlans %}
                {% for plan in mealPlans %}
                    <div class="plan">
                        <h2><a target="_blank\]\" href="{{ plan.plan.url }}" class="mdfDashLink">{{ plan.plan_name }}</a></h2>
                        <h4 class="m-l-5 mdfSexyWeight">Created {{ plan.created }}</h4>
                        <h3 class="blue mdfSexyWeight">{{ plan.plan_description }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row dashboard-col mdfClickContainer" id="workout">
        <div class="row m-b-2">
            <div class="col-1-2 p-t-2">
                <a href="#" class="no-decor pluslink slideDownForm" data-target="uploadworkout">
                    <img class="plusimg" src="{% static 'trainers/inc/plus.png' %}">
                </a>
                <p class="plusimg-brief">Upload new workout plan (.pdf or excel file)</p>
            </div>
        </div>
        <div class="row slideForm" id="uploadworkout">
            <div class="col-3-4 col-centered">
                {% for field in trainerWorkoutPlan %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form method="post" class="text-center" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mdfFakeInput m-b-2">
                        <div class="mdfInputLabel">
                            <h4 class="fakeInput"><a href="" id="wkpln" class="mdfLink">Add a new workout plan</a></h4>
                            <h4 class="mdfFileName" id="workoutFile"></h4>
                            <h4 class="mdfFilePrompt">File must be of type .pdf or .xls</h4>
                            {{ trainerWorkoutPlan.workout_plan }}
                       </div>
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Give your plan a name:</h4>
                        {{ trainerWorkoutPlan.plan_name }}
                    </div><div class="mdfInputLabel">
                        <h4>Describe your plan:</h4>
                        {{ trainerWorkoutPlan.plan_description }}
                    </div>
                    <input type="submit" name="mdfAddWorkoutPlan" class="mdfLogInBtn" value="Add Workout Plan">
                </form>
            </div>
        </div>
        {% if workoutPlans %}
            {% for plan in workoutPlans %}
                <div class="plan">
                    <h2>
                        <a target="_blank" href="{{ plan.plan.url }}" class="mdfDashLink">{{ plan.plan_name }}</a>
                        <a href="#" class="m-l-15 no-decor mdfRedHoverText">x</a>
                    </h2>
                    <h4 style="clear:both;" class="m-l-5 mdfSexyWeight">Created {{ plan.created }}</h4>
                    <h3 style="clear: both;" class="blue mdfSexyWeight">{{ plan.plan_description }}</h3>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row dashboard-col mdfClickContainer" id="reviews">
        <div class="mdfReviewContainer">
            <div class="mdfReviewDate"><span class="blue">Reviewed on:</span> <br>September 25, 2014</div>
            <div class="mdfRating"><span class="blue">Rating:</span> <br>7</div>
            <div class="mdfRecommend"><span class="blue">Recommended?:</span> <br>Yes</div>
            <div class="mdfReviewer"><span class="blue">Reviewed by:</span> <br>Bart Smith</div>
            <div class="row p-t-2 mdfReviewWrapper">
                <div class="mdfReviewerPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <p class="mdfReview">“The best personal trainer on this website. I lost 30 pounds in two months with the help of this guy! The best personal trainer on this website. I lost 30 pounds in two months with the help of this guy!”</p>
            </div>
        </div>
        <div class="mdfReviewContainer">
            <div class="mdfReviewDate"><span class="blue">Reviewed on:</span> <br>September 25, 2014</div>
            <div class="mdfRating"><span class="blue">Rating:</span> <br>7</div>
            <div class="mdfRecommend"><span class="blue">Recommended?:</span> <br>Yes</div>
            <div class="mdfReviewer"><span class="blue">Reviewed by:</span> <br>Bart Smith</div>
            <div class="row p-t-2 mdfReviewWrapper">
                <div class="mdfReviewerPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <p class="mdfReview">“I put on 15 pounds of muscle and leaned out a lot with the help of this trainer. Arms went from 16" up to 18"!”</p>
            </div>
        </div>
        <div class="mdfReviewContainer">
            <div class="mdfReviewDate"><span class="blue">Reviewed on:</span> <br>September 25, 2014</div>
            <div class="mdfRating"><span class="blue">Rating:</span> <br>7</div>
            <div class="mdfRecommend"><span class="blue">Recommended?:</span> <br>Yes</div>
            <div class="mdfReviewer"><span class="blue">Reviewed by:</span> <br>Bart Smith</div>
            <div class="row p-t-2 mdfReviewWrapper">
                <div class="mdfReviewerPicture" style="background: url('{% static 'trainers/inc/ladyatdesk.jpg' %}') center; background-size: cover;"></div>
                <p class="mdfReview">“The best personal trainer on this website. I lost 30 pounds in two months with the help of this guy!”</p>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}

{% block javascript %}
<script src="{% static 'splash/js/jquery.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{% static 'skeleton/mask.js' %}"></script>
<script src="{% static 'skeleton/skeleton.js' %}"></script>
<script src="{% static 'trainers/js/Chart.js' %}"></script>
<script type="text/javascript">
        var users = {{ all_users|safe }};
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var lineChartData = {
			labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(226,158,0,.2)",
					strokeColor : "rgba(226,158,0,1)",
					pointColor : "rgba(226,158,0,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "#48a9e7",
					data : ["0", "50", "150", "200", "225", "185", "250", "325", "400"]
				}
			]
		}
        init = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
		    window.myLine = new Chart(ctx).Line(lineChartData, {
			    responsive: true,
			    scaleShowGridLines: true,
			    scaleFontColor: "#000",
			    scaleLineColor: "#000",
			    scaleFontSize: 12
		});
        }
        var barChartData = {
			labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			datasets : [
				{
					label: "My Second dataset",
					fillColor : "rgba(226,158,0,.2)",
					strokeColor : "rgba(226,158,0,1)",
					pointColor : "rgba(226,158,0,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(8,97,66,.9)",
					data : ["2", "5", "7", "7", "8", "13", "16", "17", "17"]
				}
			]
		}
        init2 = function() {
            var ctx = document.getElementById("canvas2").getContext("2d");
		    window.myLine = new Chart(ctx).Bar(barChartData, {
			    responsive: true,
			    scaleShowGridLines: true,
			    scaleFontColor: "#000",
			    scaleLineColor: "#000"
		    });
        }

        var barChartTwo = {
            labels : ["Lose Weight", "Gain Muscle", "Contest Prep", "Overall Health"],
            datasets : [
                {
                    label: "Clients by Category",
                    fillColor : "rgba(226,158,0,.2)",
					strokeColor : "rgba(226,158,0,1)",
					pointColor : "rgba(226,158,0,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(8,97,66,.9)",
					data : ["50", "33", "28", "7"]
                }
            ]
        }
        init3 = function() {
            var ctx = document.getElementById("canvas3").getContext("2d");
            window.myLine = new Chart(ctx).Bar(barChartTwo, {
                responsive: true,
                scaleShowGridLines: true,
                scaleFontColor: "#000",
                scaleLineColor: "#000"
            });
        }

        var barChartThree = {
            labels : ["18-29", "30-39", "40-49", "50+"],
            datasets : [
                {
                    label: "Clients by Age",
                    fillColor : "rgba(226,158,0,.2)",
					strokeColor : "rgba(226,158,0,1)",
					pointColor : "rgba(226,158,0,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(8,97,66,.9)",
					data : ["75", "15", "42", "7"]
                }
            ]
        }
        init4 = function() {
            var ctx = document.getElementById("canvas4").getContext("2d");
            window.myLine = new Chart(ctx).Bar(barChartThree, {
                responsive: true,
                scaleShowGridLines: true,
                scaleFontColor: "#000",
                scaleLineColor: "#000"
            });
        }


        init();
        init3();
        init4();
</script>
<script src="{% static 'trainers/js/trainers.js' %}"></script>
<script src="{% static 'trainers/js/dashboard.js' %}"></script>
{% endblock %}
