{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li id="login"><a href="{% url 'splash:login' %}" class="link">log in</a></li>
                <li><a href="{% url 'trainers:signup' %}" class="link">create account</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
    <div class="splash" id="mini-main">
        <div class="row" id="init">
            <div class="col-1-1 col-centered">
                <h1 class="white text-center">Grow your personal training career with <span class="logoscript blue nav-logo">mydailyfit</span></h1>
            </div>
        </div>
    </div>

    <div class="row p-t-5 p-b-10">
        <div class="container">
            <div class="col-3-4 col-centered">
                <h1 class="mdfHeading text-center">Get nationwide exposure</h1>
                <hr class="mdfHr" />
                <h3 class="mdfContent p-t-5 text-center">By joining our platform, you are automatically set up to grow across the nation. The low entry cost
                    of just <span class="green logoscript">$19.99/month</span> makes it as easy as the push of button to work with new clients no matter how far away they are from you.</h3>
            </div>
        </div>
    </div>

    <div class="row p-t-5 p-b-10">
        <div class="container">
            <div class="col-3-4 col-centered">
                <h1 class="mdfHeading text-center">How it works</h1>
                <hr class="mdfHr" />
                <h3 class="mdfContent p-t-5 text-center">Getting started is easy. <a href="#" class="mdfLink">Create your profile</a> and follow the steps below to begin training new clients and earn money today.</h3>
            </div>
        </div>
    </div>
    {% endblock %}


{% block javascript %}
<script src="{% static 'splash/js/jquery.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{% static 'skeleton/skeleton.js' %}"></script>
<script src="{% static 'trainers/js/trainers.js' %}"></script>
{% endblock %}

