{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}{{ user.first_name|title }} {{ user.last_name|title }} | profile{% endblock %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="active">profile</a></li>
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row">
            <div {% if not trainer.banner_img %} style="background: linear-gradient(to bottom, #666, #333);" {% elif trainer.banner_img %}
                                        style="background: url('{{ trainer.banner_img.url }}') center; background-size: cover;" {% endif %}>
                <div class="overlay p-t-8 p-b-8">
                    <div class="row">
                        <div class="col-1-3 col-centered" id="user-info">
                            <div class="mdfProfilePic" {% if not trainer.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}'); background-size: cover;" {% elif trainer.profile_img %}
                                            style="background: url('{{ trainer.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                        </div>
                        <div class="col-1-3 col">
                            <h1 class="mdfUserDeets logoscript">{{ user.first_name|title }} {{ user.last_name|title }}</h1>
                            <h1 class="mdfUserDeets">{{ trainer.location }}</h1>
                            <h1 class="mdfUserDeets">“{{ trainer.title }}”</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-t-2 p-b-5">
            <div class="col-3-4 equalHeight">
                <div class="row p-b-2">
                    <h1 class="blue mdfProfileTag">Specialties</h1>
                    {% if specialties %}
                        {% for specialty in specialties %}
                            <div class="mdfProfileSpecialty">
                                <a href="#" class="mdfDashLink">{{ specialty|title }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <h3 class="blue mdfProfileTag">Overview</h3>
                <h3 class="mdfUserOverview">{{ trainer.overview|linebreaksbr }}</h3>
            </div>
            <div class="col-1-4 equalHeight">
                <h1 class="blue mdfProfileTag">Rate</h1>
                <h2 class="mdfRate">$<span id="rate">{{ trainer.rate }}</span>/month</h2>
                <h1 class="blue m-t-5 mdfProfileTag">Years Experience</h1>
                <h2 class="mdfRate">{{ trainer.years_experience }}</h2>
                <h1 class="blue m-t-5 mdfProfileTag">Number of clients</h1>
                <h2 class="mdfRate">{{ trainer.clients }}</h2>
                <a href="#" class="m-t-5 mdfHireBtn no-decor text-center">Hire Trainer</a>
                <a href="#" class="m-t-5 mdfProfileSendMessageBtn no-decor text-center">Send Message</a>
            </div>
        </div>
        <div class="row p-b-5">
            <div class="col-3-4">
                <h1 class="blue mdfProfileTag">Client Reviews</h1>
                <div class="mdfProfileReviewContainer">
                    <div class="mdfReviewDate"><span class="blue">Reviewed on</span> <br>October 25, 2014</div>
                    <div class="mdfRating"><span class="blue">Rating</span> <br>7</div>
                    <div class="mdfRecommend"><span class="blue">Recommended</span> <br>Yes</div>
                    <div class="mdfReviewer"><span class="blue">Reviewed by</span> <br>Bart Smith</div>
                    <div class="row p-t-2 mdfReviewWrapper">
                        <div class="mdfReviewerPicture" style="background: url('{% static 'trainers/inc/icon.jpg' %}') center; background-size: cover;"></div>
                        <p class="mdfReview">“The best personal trainer on this website. I lost 30 pounds in two months with the help of this guy! The best personal trainer on this website. I lost 30 pounds in two months with the help of this guy!”</p>
                    </div>
                </div>
                <div class="mdfProfileReviewContainer">
                    <div class="mdfReviewDate"><span class="blue">Reviewed on</span> <br>September 25, 2014</div>
                    <div class="mdfRating"><span class="blue">Rating</span> <br>8</div>
                    <div class="mdfRecommend"><span class="blue">Recommended</span> <br>Yes</div>
                    <div class="mdfReviewer"><span class="blue">Reviewed by</span> <br>Chris Jones</div>
                    <div class="row p-t-2 mdfReviewWrapper">
                        <div class="mdfReviewerPicture" style="background: url('{% static 'trainers/inc/icon.jpg' %}') center; background-size: cover;"></div>
                        <p class="mdfReview">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nulla risus, iaculis nec urna aliquam, imperdiet maximus mi. Nulla in urna dui. Fusce porttitor lobortis metus, a eleifend orci malesuada a.
                            In sed mi sit amet risus ullamcorper pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.”</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'skeleton/mdfFormatNum.js' %}"></script>
        <script src="{% static 'trainers/js/profile.js' %}"></script>
    {% endblock %}