{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | settings{% endblock %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="active">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row">
            <div {% if not trainer.banner_img %} style="background: linear-gradient(to bottom, #666, #333);" {% elif trainer.banner_img %}
                                        style="background: url('{{ trainer.banner_img.url }}') center; background-size: cover;" {% endif %}>
                <div class="overlay p-t-8 p-b-8">
                    <div class="row">
                        <div class="col-1-3 col-centered" id="user-info">
                            <div class="mdfProfilePic" {% if not trainer.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}'); background-size: cover;" {% elif trainer.profile_img %}
                                            style="background: url('{{ trainer.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                        </div>
                        <div class="col-1-3 col">
                            <h1 class="mdfUserDeets logoscript">{{ user.first_name|title }} {{ user.last_name|title }}</h1>
                            <h1 class="mdfUserDeets">{{ trainer.location }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard">
        <div class="dashboard-col" id="mdfSettingsLinks">
            <div id="mdfDashCollapse">
                <p>SETTINGS MENU</p>
            </div>
            <div class="row" id="mdfDashLinkContainer">
                <div class="row">
                    <h4 class=""><a href="#settings" class="active mdfClickToShow" data-target="settings" id="settingslink">account settings</a></h4>
                </div>
                <div class="row" id="video-target">
                    <h4 class=""><a href="#videos" class="mdfDashLink mdfClickToShow" data-target="videos" id="videolink">videos</a></h4>
                </div>
                <div class="row" id="specialty-target">
                    <h4 class=""><a href="#specialties" class="mdfDashLink mdfClickToShow" data-target="specialties" id="specialtylink">specialties</a></h4>
                </div>
                <div class="row">
                    <h4 class=""><a href="#payment" class="mdfDashLink mdfClickToShow" data-target="payment" id="paymentlink">payment settings</a></h4>
                </div>
                <div class="row">
                    <h4><a href="#subscription" class="mdfDashLink mdfClickToShow" data-target="subscription" id="subscriptionlink">subscription</a></h4>
                </div>
                {% if not trainer.frozen %}
                    <div class="row">
                        <h4><a href="#freeze" class="mdfDashLink mdfClickToShow" data-target="freeze" id="freezelink">freeze account</a></h4>
                    </div>
                {% else %}
                    <div class="row">
                        <h4><a href="#freeze" class="mdfDashLink mdfClickToShow" data-target="freeze" id="freezelink">activate account</a></h4>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row dashboard-col mdfClickContainer" id="settings">
            <h2 class="text-center mdfSexyWeight blue m-b-2 m-t-2">change your account settings</h2>
            <div class="col-3-4 m-b-2 col-centered">
                {% if messages %}
                    {% for message in messages %}
                        <p class="error text-center">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% for field in settingsForm %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form method="post" action="{% url 'trainers:settings' user.username %}" class="text-center" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mdfInputLabel">
                        <h4>Your Title:</h4>
                        {{ settingsForm.title }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Monthly Rate:</h4>
                        {{ settingsForm.rate }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Years of Experience:</h4>
                        {{ settingsForm.experience }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Your Location:</h4>
                        {{ settingsForm.location }}
                    </div>
                    <div class="mdfFakeInput">
                        <div class="mdfInputLabel">
                            <h4>Profile Picture:</h4>
                            <h4 class="fakeInput"><a href="" id="prf" class="mdfLink">Choose a new profile picture</a></h4>
                            <h4 class="mdfFileName" id="profileImg"></h4>
                            {{ settingsForm.profile_img }}
                            {% if trainer.profile_img %}
                                <h4>Current profile picture:
                                    <a target="_blank" href="{{ trainer.profile_img.url }}" class="m-l-5 mdfLink">{{ trainer.photo_name }}</a>
                                    <a href="{% url 'trainers:del_prof_pic' user.username %}" class="no-decor mdfRedHoverText m-l-5">x</a>
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mdfFakeInput">
                        <div class="mdfInputLabel">
                            <h4>Banner Image:</h4>
                            <h4 class="fakeInput"><a href="" id="bnr" class="mdfLink">Choose a new banner image</a></h4>
                            <h4 class="mdfFileName" id="bannerImg"></h4>
                            {{ settingsForm.banner_img }}
                            {% if trainer.banner_img %}
                                <h4>Current banner image:
                                    <a target="_blank" href="{{ trainer.banner_img.url }}" class="m-l-5 mdfLink">{{ trainer.banner_photo_name }}</a>
                                    <a href="{% url 'trainers:del_ban_img' user.username %}" class="no-decor mdfRedHoverText m-l-5">x</a>
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Overview:</h4>
                        {{ settingsForm.overview }}
                    </div>
                    <input type="submit" name="mdfSaveTrainerSettings" class="mdfLogInBtn" value="Save Changes">
                </form>
            </div>

        </div>

        <div class="row dashboard-col mdfClickContainer" id="videos">
            <div class="row m-b-2">
                <div class="col-1-2 p-t-2">
                    <a href="#" class="no-decor pluslink slideDownForm" data-target="addvideo">
                        <img class="plusimg" src="{% static 'trainers/inc/plus.png' %}">
                    </a>
                    <p class="plusimg-brief">Add a video</p>
                </div>
            </div>
            <div class="row slideForm" id="addvideo">
                <div class="col-3-4 col-centered">
                    <h2 class="text-center mdfSexyWeight blue">add a video</h2>
                    {% for field in trainerVideo %}
                        {% for error in field.errors %}
                            <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <form method="post" class="text-center" action="{% url 'trainers:settings' user.username %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mdfFakeInput m-b-2">
                        <div class="mdfInputLabel">
                            <h4 class="fakeInput"><a href="" id="vid" class="mdfLink">Add a new video</a></h4>
                            <h4 class="mdfFileName" id="videoFile"></h4>
                            <h4 class="mdfFilePrompt">Video must be of type .mp4</h4>
                            {{ trainerVideo.uploaded }}
                        </div>
                    </div>
                    <input type="submit" name="mdfAddVideo" class="mdfLogInBtn" value="Add Video">
                </form>
                </div>
            </div>
            {% if videos %}
                <div class="row p-t-2 p-b-5">
                    {% for video in videos %}
                        <div class="col-1-3 p-b-2">
                            <video width="100%" height="100%" controls>
                                <source src="{{ video }}" type="video/mp4">
                            </video>
                            <a href="{% url 'trainers:delete_video' user.username video.id %}" class="mdfDeleteBtn text-center no-decor">Delete Video (forever)</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3 class="text-center m-b-5">You don't currently have any videos. Adding some videos can help show yourself off to potential clients!</h3>
            {% endif %}
        </div>

        <div class="row dashboard-col mdfClickContainer" id="specialties">
            <div class="row m-b-2">
                <div class="col-1-2 p-t-2">
                    <a href="#" class="no-decor pluslink slideDownForm" data-target="addspecialty">
                        <img class="plusimg" src="{% static 'trainers/inc/plus.png' %}">
                    </a>
                    <p class="plusimg-brief">Add a specialty</p>
                </div>
            </div>
            <div class="row slideForm" id="addspecialty">
                <div class="col-3-4 col-centered">
                    <h2 class="text-center mdfSexyWeight blue">add a specialty</h2>
                    {% for field in specialtyForm %}
                        {% for error in field.errors %}
                            <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <form method="post" class="text-center" action="{% url 'trainers:settings' user.username %}">
                        {% csrf_token %}
                        <div class="mdfInputLabel">
                            <h4>Add a new specialty:</h4>
                            {{ specialtyForm.specialty }}
                        </div>
                        <input type="submit" name="mdfAddSpecialty" class="mdfLogInBtn" value="Add Specialty">
                    </form>
                </div>
            </div>
            {% if specialties %}
                <div class="row p-t-2 p-b-2">
                    {% for specialty in specialties %}
                        <div class="col-1-4">
                            <h3 class="text-center mdfSexyWeight p-t-2 p-b-2 blue">
                                {{ specialty|title }}
                                <a href="{% url 'trainers:del_specialty' user.username specialty.pk %}" class="m-l-5 no-decor mdfRedHoverText">x</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3 class="text-center m-b-5">You don't currently have any specialties. These play a major role in how often you show up in search results.</h3>
            {% endif %}
        </div>

        <div class="row dashboard-col mdfClickContainer" id="payment">
            {% if trainer.verified %}
            <div class="col-3-4 col-centered">
                <h4 class="text-center mdfSexyWeight m-t-2 m-b-2">We do not store your card information in our database, therefore we cannot provide you with your current payment information. If
                 you are unsure about which card you are using to pay with, please update your information. You will not be charged twice.</h4>
            </div>
            <div class="col-3-4 col-centered m-b-2 m-t-2">
                <h2 class="text-center mdfSexyWeight blue m-b-2">update payment information</h2>
                <form method="post" class="text-center m-b-2" action="{% url 'trainers:settings' user.username %}" id="payment-form">
                    {% csrf_token %}
                    <span class="payment-errors"></span>
                    <div class="mdfInputLabel">
                        <h4>Credit Card Number:</h4>
                        {{ newCard.number }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Expiration Month:</h4>
                        {{ newCard.exp_month }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Expiration year:</h4>
                        {{ newCard.exp_year }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>CVC Security Code:</h4>
                        {{ newCard.cvc }}
                    </div>
                    <button type="submit" name="mdfUpdatePayment" class="mdfLogInBtn">Update Payment Information</button>
                </form>
                {% elif not trainer.verified %}
                <div class="col-3-4 col-centered">
                    <h2 class="text-center mdfSexyWeight p-t-5 p-b-5">In order to charge your clients, you must first register with Stripe.</h2>
                    <!--
                    https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_4szfIwN2kv2ssWKQ0Ky7kZELG0udH55J&state={{ user.username }}
                    -->
                    <a href="{% url 'trainers:auth_stripe' trainer %}" class="stripe-connect"><span>Connect with Stripe</span></a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="dashboard-col mdfClickContainer" id="subscription">
            <div class="col-3-4 m-t-2 m-b-2 col-centered">
                {% if trainer.verified %}
                    {% if not trainer.subscription_name %}
                        <h2 class="text-center mdfSexyWeight blue m-b-2">create your subscription</h2>
                    {% else %}
                        <h2 class="text-center mdfSexyWeight blue m-b-2">update your subscription</h2>
                    {% endif %}
                    {% for field in subscription %}
                        {% for error in field.errors %}
                            <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <form method="post" action="{% url 'trainers:settings' user.username %}" class="text-center m-b-2">
                        {% csrf_token %}
                        <div class="mdfInputLabel">
                            <h4>Name of your subscription:</h4>
                            {{ subscription.name }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>Amount to charge your clients in cents (USD):</h4>
                            <h4 class="blue">$123.45 would be 12345 in cents</h4>
                            {{ subscription.amount }}
                        </div>
                        <button type="submit" name="mdfUpdateSubscription" class="mdfLogInBtn">Update Your Subscription</button>
                    </form>
                {% else %}
                    <h2 class="text-center p-t-5 mdfSexyWeight">You must register with Stripe before you can create a subscription.</h2>
                    <h3 class="text-center p-t-5 mdfSexyWeight"><a href="#payment" data-target="payment" id="gotopayment" class="mdfLink">go to payment settings</a></h3>
                {% endif %}
            </div>
        </div>

        <div class="row dashboard-col mdfClickContainer" id="freeze">
            {% if not trainer.frozen %}
                <div class="col-3-4 col-centered">
                    <h4 class="text-center mdfSexyWeight m-t-2 m-b-2">By <span class="blue">freezing</span> your account, you understand that all of your client's subscriptions will be ended and you will no longer receive payment. You
                    will also no longer be charged for the use of mydailyfit and your payment information will be deleted. If you decide to unfreeze your account in the future, you must visit this page and
                    re-enter your payment information.</h4>
                </div>
                <div class="col-1-2 col-centered m-t-5">
                    <form method="post" action="{% url 'trainers:settings' user.username %}" class="text-center m-b-2">
                        {% csrf_token %}
                        <button type="submit" name="mdfFreezeAccount" class="mdfChooseYourFateBlueBtn text-center">Freeze My Account</button>
                    </form>
                </div>
            {% else %}
                <div class="col-3-4 col-centered">
                    <h3 class="text-center blue mdfSexyWeight m-t-2">Activate your account by filling in the information below. Your card will be charged $20 monthly.</h3>
                </div>
                <div class="col-3-4 col-centered m-t-2">
                    <form method="post" class="text-center m-b-2" action="{% url 'trainers:settings' user.username %}" id="payment-form">
                        {% csrf_token %}
                        <span class="payment-errors"></span>
                        <div class="mdfInputLabel">
                            <h4>Credit Card Number:</h4>
                            {{ newCard.number }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>Expiration Month:</h4>
                            {{ newCard.exp_month }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>Expiration year:</h4>
                            {{ newCard.exp_year }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>CVC Security Code:</h4>
                            {{ newCard.cvc }}
                        </div>
                        <input type="submit" name="mdfAddPayment" class="mdfLogInBtn" value="Add Payment Information">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="{% static 'splash/js/jquery.js' %}"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="{% static 'skeleton/stripePayment.js' %}"></script>
        <script type="text/javascript" src="{% static 'skeleton/skeleton.js' %}"></script>
        <script type="text/javascript" src="{% static 'trainers/js/trainers.js' %}"></script>
        <script type="text/javascript" src="{% static 'skeleton/mdfFormatNum.js' %}"></script>
        <script type="text/javascript" src="{% static 'trainers/js/account.js' %}"></script>
        <script type="text/javascript">
            $('#gotopayment').click(function(){
                $('#paymentlink').click();
            });
        </script>
    {% endblock %}