{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | woops{% endblock %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                {% if user %}
                    <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                    <li><a href="#" class="link">profile</a></li>
                    <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                    <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                    <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row m-t-5 m-b-5" id="woops">
            <div class="col-3-4 col-centered">
                <h1 class="text-center blue">Woops!</h1>
                <h3 class="m-t-5 mdfSexyWeight text-center">Something weird happened between the page you were just at and the page you were trying to reach.
                 Please go back and try again. If you come back to this page, please let us know by emailing us at <a class="mdfLink" href="mailto:info@mydailyfit.com">info@mydailyfit.com</a>
                 or hitting us up on any of our social network profiles.</h3>
                <div class="row p-t-5 p-b-5">
                    <div class="col-1-4">
                        <h3 class="text-center"><a href="https://www.facebook.com/mydailyfit" class="link">facebook</a></h3>
                    </div>
                    <div class="col-1-4">
                        <h3 class="text-center"><a href="https://www.twitter.com/mydailyfit_off" class="link">twitter</a></h3>
                    </div>
                    <div class="col-1-4">
                        <h3 class="text-center"><a href="https://www.linkedin.com/mydailyfit" class="link">linkedin</a></h3>
                    </div>
                    <div class="col-1-4">
                        <h3 class="text-center"><a href="https://www.plus.google.com/mydailyfit" class="link">google+</a></h3>
                    </div>
                </div>
                <h2 class="mdfSexyWeight blue text-center">You don't like errors, we don't like errors. Let us know what happened and we will get back to you as soon as we can with a solution.</h2>
            </div>
        </div>
    {% endblock %}