{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | messages{% endblock %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'mdfMessaging/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                {% if isTrainer %}
                    <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                {% else %}
                    <li><a href="#" class="link">profile</a></li>
                {% endif %}
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="active">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row p-t-5 p-b-5">
            <div class="col-3-4 col-centered" id="messages-container">
                <div class="col-1-5" id="message-tabs">
                    <a href="" class="m-b-5 mdfLogInBtn no-decor text-center mdfClickToShow" data-target="compose-message" id="new-message">new message</a></h3>
                    <h3 class="mdfSexyWeight m-b-5"><a href="" class="active mdfClickToShow" data-target="inbox-messages" id="inbox">Inbox</a></h3>
                    <h3 class="mdfSexyWeight m-b-5"><a href="" class="mdfLink mdfClickToShow" data-target="sent-messages" id="sent">Sent</a></h3>
                    {% if not isTrainer %}
                        <h3 class="mdfSexyWeight"><a href="" class="mdfLink mdfClickToShow" data-target="connection-list" id="connections">My Trainers</a></h3>
                    {% else %}
                        <h3 class="mdfSexyWeight"><a href="" class="mdfLink mdfClickToShow" data-target="client-list" id="clients">My Clients</a></h3>
                    {% endif %}
                </div>
                <div class="col-4-5 mdfClickContainer" id="inbox-messages">
                    {% if messages %}
                        {% for success in messages %}
                            <h3 class="text-center green mdfSexyWeight" id="success">{{ success }}</h3>
                        {% endfor %}
                    {% endif %}
                    {% if inbox %}
                        {% for message in inbox %}
                            <a href="{% url 'messages:message_detail' user.username message.pk %}" class="no-decor mdfMessageLink">
                                <div class="mdfMessage">
                                    <h2 class="mdfMessageSubject">{{ message.subject }}</h2>
                                    <div class="mdfMessageDates">
                                        <p class="mdfMessageSentDate">Received <span class="blue">{{ message.sent_date }}</span></p>
                                        {% if message.read_on %}
                                            <p class="mdfMessageReadDate">Read <span class="blue">{{ message.read_on }}</span></p>
                                        {% endif %}
                                        {% if message.replied_on %}
                                            <p class="mdfMessageReadDate">Replied <span class="blue">{{ message.replied_on }}</span></p>
                                        {% endif %}
                                    </div>
                                    <h4 class="mdfMessageSender">Sent from <span class="blue">{{ message.sender }}</span></h4>
                                    <p class="mdfMessageSnippet">{{ message.message|truncatewords:25 }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <h3 class="m-l-2 p-t-5 p-b-5 mdfSexyWeight">You don't have any messages.</h3>
                    {% endif %}
                </div>
                <div class="col-4-5 mdfClickContainer" id="sent-messages">
                    {% if sent %}
                        {% for message in sent %}
                            <a href="{% url 'messages:message_detail' user.username message.pk %}" class="no-decor mdfMessageLink">
                                <div class="mdfMessage">
                                    <h3 class="mdfMessageSubject">{{ message.subject }}</h3>
                                    <div class="mdfMessageDates">
                                        <p class="mdfMessageSentDate">Sent <span class="blue">{{ message.sent_date }}</span></p>
                                    </div>
                                    <h4 class="mdfMessageSender">Sent to <span class="blue">{{ message.sent_to }}</span></h4>
                                    <p class="mdfMessageSnippet">{{ message.message|truncatewords:25 }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <h3 class="m-l-2 p-t-5 p-b-5 mdfSexyWeight">You haven't sent any messages.</h3>
                    {% endif %}
                </div>
                <div class="col-4-5 mdfClickContainer" id="client-list">
                    {% if trainees %}
                        {% for trainee in trainees %}
                            <div class="row">
                                <h4 class="mdfSexyWeight m-t-2 m-b-2">{{ user.username }}</h4>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="m-l-2 p-t-5 p-b-5 mdfSexyWeight">You have no clients.</h3>
                        <div class="row">
                            <h4 class="m-l-2 mdfSexyWeight m-t-2 m-b-2"><a href="#" class="mdfLink">{{ user.first_name|title }} {{ user.last_name|title }}</a></h4>
                        </div>
                    {% endif %}
                </div>
                <div class="col-4-5 mdfClickContainer" id="connection-list">
                    {% if my_trainer %}
                        <div class="row">
                            <h4 class="mdfSexyWeight m-t-2 m-b-2">{{ my_trainer }}</h4>
                        </div>
                    {% else %}
                        <div class="row">
                            <h3 class="mdfSexyWeight m-l-2 p-t-5 p-b-5">You have no trainers</h3>
                        </div>
                    {% endif %}
                </div>
                <div class="col-4-5 p-l-2 mdfClickContainer" id="compose-message">
                    <form action="#" method="post" class="m-l-2">
                        {% csrf_token %}
                        <div class="mdfInputLabel">
                            <h4>Send Message to:</h4>
                            {{ form.recipient }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>Message Subject:</h4>
                            {{ form.subject }}
                        </div>
                        <div class="mdfInputLabel">
                            <h4>Message:</h4>
                            {{ form.message }}
                        </div>
                        <input type="submit" class="mdfLogInBtn" value="Send Message">
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'mdfMessaging/js/messages.js' %}"></script>
    {% endblock %}