{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | {{ message.subject }}{% endblock %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'mdfMessaging/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                {% if isTrainer %}
                    <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                {% else %}
                    <li><a href="#" class="link">profile</a></li>
                {% endif %}
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="active">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row p-t-5 p-b-5 mdfClickContainer" id="message">
            <div class="col-3-4 col-centered mdfMessageDetail">
                <h2 class="mdfMessageSubject">{{ message.subject }}</h2>
                <div class="mdfMessageDates">
                    <p class="mdfMessageSentDate">Sent <span class="blue">{{ message.sent_date }}</span></p>
                    {% if not message.sender == user.username %}
                        <p class="mdfMessageReadDate">Read <span class="blue">{{ message.read_on }}</span></p>
                    {% endif %}
                </div>
                {% if message.sender == user.username %}
                    <p class="p-b-2 mdfMessageSender">To: <a href="#" class="mdfLink">{{ message.sent_to }}</a></p>
                {% else %}
                    <p class="p-b-2 mdfMessageSender">From: <a href="#" class="mdfLink">{{ message.sender }}</a></p>
                {% endif %}
                <h3 class="p-t-2 mdfMessageDetailContent">{{ message.message|linebreaksbr }}</h3>
                <a href="{% url 'messages:delete_message' user.username message.id %}" class="mdfMessageDelete text-center no-decor">Delete</a>
                {% if not message.sender == user.username %}
                    <a href="" class="mdfClickToShow mdfLink text-center mdfReplyBtn" data-target="message-reply">Reply</a>
                {% endif %}
            </div>
        </div>
        <div class="col-3-4 m-t-5 m-b-5 col-centered mdfClickContainer" id="message-reply">
                <div class="row">
                    <div class="col-1-4">
                        <h4><a href="" class="mdfClickToShow text-center no-decor mdfLogInBtn" id="view-message" data-target="message">view message</a></h4>
                    </div>
                </div>
                <h1 class="text-center m-b-2 blue">New Message</h1>
                <form action="#" method="post" class="text-center">
                    {% csrf_token %}
                    <div class="mdfInputLabel">
                        <h4>Send Message to:</h4>
                        {{ form.recipient }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Message Subject:</h4>
                        {{ form.subject }}
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Message:</h4>
                        {{ form.message }}
                    </div>
                    <input type="submit" class="mdfLogInBtn" value="Send Message">
                </form>
            </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'mdfMessaging/js/messages.js' %}"></script>
    {% endblock %}