#main {
    background: url('../inc/couplerunning_smaller.jpg') no-repeat center;
    background-size: cover;
}

.splash {
    padding: 0;
    margin: 0;
}

#logo {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 2.5em;
}

.mdfFeature-lose-weight {
    background: url('../inc/running1.png') center;
    background-size: cover;
}

.mdfFeature-gain-muscle {
    background: url('../inc/pushup.jpg') center;
    background-size: cover;
}

.mdfFeature-cont-prep {
    background: url('../inc/blond.jpg') center;
    background-size: cover;
}