#inbox-messages, #sent-messages, #compose-message, #client-list {
    border-left: solid 1px #b7b7b7;
}

.mdfMessage {
    padding: 2%;
}

.mdfMessageSubject {
    font-size: 1.7em;
    font-weight: 600;
    color: #000;
    float: left;
}

.mdfMessageSender {
    font-size: 1em;
    font-weight: 500;
    color: #2b2b2b;
    clear: both;
    padding-top: 1%;
}

.mdfMessageSnippet {
    font-weight: 300;
    color: #a5a5a5;
    clear: both;
}

.mdfMessageDates {
    width: 100%;
    clear: both;
    padding-bottom: 1%;
}

.mdfMessageSentDate {
    font-weight: 300;
    color: #2b2b2b;
    display: inline-block;
    margin-right: 5%;
}

.mdfMessageReadDate {
    font-weight: 300;
    color: #2b2b2b;
    display: inline-block;
    margin-right: 5%;
}

.mdfMessage:hover {
    background-color: rgba(44, 206, 48, .3);
}

.mdfMessageDetail {
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
}

.mdfMessageDetailContent {
    color: #2b2b2b;
    font-weight: 300;
    padding-bottom: 5%;
}

.mdfReplyBtn {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    float: right;
    padding: 1%;
    background-color: #29b52c;
    border: solid 1px #29b52c;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
    transition: all .33s;
}

.mdfReplyBtn:hover {
    background-color: #2cce30;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
    transition: all .33s;
}

.mdfMessageDelete {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    float: left;
    padding: 1%;
    background-color: #dc0202;
    border: solid 1px #dc0202;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
    transition: all .33s;
}

.mdfMessageDelete:hover {
    background-color: #ff2d2d;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
    transition: all .33s;
}