{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}mydailyfit | create meal plan{% endblock %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'trainers:account' user.username %}" class="link">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                <li><a href="#" class="link">activity</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'trainers:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row p-t-5 p-b-5">
            <div class="col-1-2">
                <h1 class="text-center blue m-b-2">Step 2</h1>
                {% for field in mealForm %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form action="{% url 'fitplans:create_meal' user.username %}" class="text-center" method="post" id="mealform">
                    {% csrf_token %}
                    <h3 class="mdfSexyWeight mdfPlanLabel">Give your meal plan a name: </h3>
                    {{ foodOne.item_name }}
                    <h3 class="mdfSexyWeight mdfPlanLabel">Briefly describe your plan:</h3>
                    {{ foodOne.item_type }}
                    <h3 class="mdfSexyWeight mdfPlanLabel">How many meals will be in this plan?</h3>
                    {{ foodOne.item_protein }}
                    {{ foodOne.item_fat }}
                    {{ foodOne.item_carbs }}
                    {{ foodOne.item_sugar }}
                    {{ foodOne.item_sodium }}
                    {{ foodOne.item_calories }}
                    <input type="submit" class="mdfLittleBigGreenBtn m-l-8" value="Next Step">
                </form>
            </div>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'trainers/js/plan.js' %}"></script>
    {% endblock %}