<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head lang="en">
    <title>{% block title %}Online Personal Training Workplace{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Lemon' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'skeleton/favicon-32.png' %}">
</head>
<body>

<div class="mdfWrapper">
    <header class="mdfHeader">
        <div class="row">
            <div class="col-1-1">
                <div class="mdfLogoWrapper">
                    <div class="nav-logo logoscript"><a href="/">mydailyfit</a></div>
                </div>
                <div class="mdfNavCollapse">
                    <p>MENU</p>
                </div>
                {% block mdfHeaderLinks %}
                <nav role="navigation" class="nav" id="mdfNav">
                    <ul class="user-links">
                        <li id="login"><a href="#" class="link">log in</a></li>
                        <li><a href="#" class="link">create account</a></li>
                        <a href="{% url 'trainers:index' %}"><li class="mdfNavTrainerForHire" id="new">get hired</li></a>
                    </ul>
                </nav>
                {% endblock %}
            </div>
        </div>
	</header>
    {% block mdfContent %}
    {% endblock %}
</div>
<footer class="mdfFooter">
    {% block mdfFooter %}
    <div class="row p-t-2 p-b-2">
        <div class="container">
            <div class="col-1-3">
                <h4 class="mdfContent text-center p-b-2">Company Info</h4>
                <ul class="mdfFooterList">
                    <li><a href="#">about us</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">jobs</a></li>
                    <li><a href="#">advertise</a></li>
                </ul>
            </div>
            <div class="col-1-3">
                <h4 class="mdfContent text-center p-b-2">Connect With Us</h4>
                <ul class="mdfFooterList">
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">linkedin</a></li>
                </ul>
            </div>
            <div class="col-1-3">
                <h4 class="mdfContent text-center p-b-2">Boring Stuff</h4>
                <ul class="mdfFooterList">
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">terms and conditions</a></li>
                    <li><a href="#">faq</a></li>
                </ul>
            </div>
        </div>
            <div class="row mdfFooterCopyContainer">
                <div class="col-1-1 col-centered">
                    <div class="nav-logo logoscript text-center"><a href="/">mydailyfit</a></div>
                    <h4 class="mdfFooterCopy">&copy; 2014</h4>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>


<script src="{% static 'splash/js/jquery.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
{% block javascript %}
<script src="{% static 'skeleton/skeleton.js' %}"></script>
<script src="{% static 'splash/js/splash.js' %}"></script>
{% endblock %}
</body>
</html>

