{% extends 'index.html' %}
    {% load static from staticfiles %}

    {% block title %}{{ user.first_name }} {{ user.last_name }} | dashboard{% endblock %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'clients:account' user.username %}" class="active">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'clients:settings' user.username %}" class="link">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row">
            <div {% if not client.banner_img %} style="background: linear-gradient(to bottom, #666, #333);" {% elif client.banner_img %}
                                            style="background: url('{{ client.banner_img.url }}') center; background-size: cover;" {% endif %}>
                <div class="overlay p-t-8 p-b-8">
                    <div class="row">
                        <div class="col-1-3 col-centered" id="user-info">
                            <div class="mdfProfilePic" {% if not client.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}'); background-size: cover;" {% elif client.profile_img %}
                                                style="background: url('{{ client.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                        </div>
                        <div class="col-1-3 col">
                            <h1 class="mdfUserDeets logoscript">{{ user.first_name|title }} {{ user.last_name|title }}</h1>
                            <h1 class="mdfUserDeets">{{ client.location }}</h1>
                            <h1 class="mdfUserDeets">Last online <span class="orange">{{ client.last_online }}</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="row dashboard-col" id="mdfSettingsLinks">
                <div id="mdfDashCollapse">
                    <p>DASHBOARD MENU</p>
                </div>
                <div id="mdfDashLinkContainer">
                    <div class="row">
                        <h4><a href="#progress" class="active mdfClickToShow" data-target="progress" id="progresslink">progress</a></h4>
                    </div>
                    <div class="row">
                        <h4><a href="#trainer" class="mdfDashLink mdfClickToShow" data-target="trainer" id="trainerlink">trainer</a></h4>
                    </div>
                    <div class="row">
                        <h4><a href="#cat" class="mdfDashLink mdfClickToShow" data-target="cat" id="catlink">meal plan</a></h4>
                    </div>
                    <div class="row">
                        <h4><a href="#age" class="mdfDashLink mdfClickToShow" data-target="age" id="agelink">workout plan</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-col row mdfClickContainer" id="progress">
            <div class="col-4-5 col-centered">
                <canvas id="canvas" class="chartjs"></canvas>
                <hr class="m-b-2" style="background-color: #cbcbcb;">
                <div class="col-1-2 p-b-5">
                    <h1 class="text-center p-t-5 mdfSexyWeight">Before</h1>
                    <div class="col-1-1 p-t-5 col-centered">
                        <div class="row m-b-10 m-t-5">
                            {% if trainer.before_img %}
                                <img src="{{ trainer.before_img.url }}" />
                            {% else %}
                                <h3 class="mdfSexyWeight text-center">you don't have a before picture! <a href="#" class="mdfLink">upload one</a></h3>
                            {% endif %}
                        </div>
                        <div class="row p-b-2">
                            <h3 class="mdfSexyWeight blue pull-left">weight:</h3><h3 class="mdfSexyWeight pull-right">225lbs</h3>
                        </div>
                        <div class="row p-b-2">
                            <h3 class="mdfSexyWeight blue pull-left">bodyfat:</h3><h3 class="mdfSexyWeight pull-right">22%</h3>
                        </div>
                    </div>
                </div>
                <div class="col-1-2">
                    <h1 class="text-center p-t-5 mdfSexyWeight">After</h1>
                    <div class="col-1-1 p-t-5 col-centered">
                        <div class="row m-b-10 m-t-5">
                            {% if trainer.after_img %}
                                <img src="{{ trainer.after_img.url }}" />
                            {% else %}
                                <h3 class="mdfSexyWeight text-center">you don't have an after picture! <a href="#" class="mdfLink">upload one</a></h3>
                            {% endif %}
                        </div>
                        <div class="row p-b-2">
                            <h3 class="mdfSexyWeight blue pull-left">weight:</h3><h3 class="mdfSexyWeight pull-right">200lbs</h3>
                        </div>
                        <div class="row p-b-2">
                            <h3 class="mdfSexyWeight blue pull-left">bodyfat:</h3><h3 class="mdfSexyWeight pull-right">13%</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-col row mdfClickContainer" id="trainer">
            <div class="col-3-4 col-centered">
                {% if trainee %}
                    <h3 class="text-center p-t-15 mdfSexyWeight">You hired a personal trainer</h3>
                {% else %}
                    <h3 class="text-center p-t-15 mdfSexyWeight">You haven't hired a personal trainer yet. Add some <a href="#" class="mdfLink">goals</a>
                     and search for a personal trainer to get started on your fitness track!</h3>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'clients/js/account.js' %}"></script>
        <script src="{% static 'trainers/js/Chart.js' %}"></script>
        <script type="text/javascript">
            var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
            var lineChartData = {
                labels : ["August 15, 2014", "August 20, 2014", "August 28, 2014", "September 4, 2014", "September 9, 2014", "September 15, 2014", "September 18, 2014", "September 24, 2014", "September 29, 2014", "October 3, 2014", "October 4, 2014", "October 5, 2014", "October 6, 2014", "October 7, 2014", "October 8, 2014"],
                datasets : [
                    {
                        label: "My First dataset",
                        fillColor : "rgba(226,158,0,.2)",
					    strokeColor : "rgba(226,158,0,1)",
					    pointColor : "rgba(226,158,0,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(226,158,0,1)",
                        data : ["240", "236", "230", "228", "225", "221", "218", "215", "212", "", "", "", "", "198", "", "", "", "", "205"]
                    }
                ]
            }
            init = function() {
                var ctx = document.getElementById("canvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(lineChartData, {
                    responsive: true,
                    scaleShowGridLines: true,
                    scaleFontColor: "#000",
                    scaleLineColor: "#000",
                    scaleFontSize: 12
            });
            }

            init();
        </script>
    {% endblock %}