{% extends 'index.html' %}
    {% load static from staticfiles %}
        {% load clients_extras %}

    {% block title %}{{ user.first_name }} {{ user.last_name }} | settings{% endblock %}

    {% block stylesheets %}
    <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li><a href="{% url 'clients:account' user.username %}" class="link">dashboard</a></li>
                <li><a href="{% url 'trainers:profile' user.username %}" class="link">profile</a></li>
                <li><a href="{% url 'messages:message_list' user.username %}" class="link">messages</a></li>
                <li><a href="{% url 'clients:settings' user.username %}" class="active">settings</a></li>
                <li><a href="{% url 'splash:logout' %}" class="link">logout</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
        <div class="row">
            <div {% if not client.banner_img %} style="background: linear-gradient(to bottom, #666, #333);" {% elif client.banner_img %}
                                            style="background: url('{{ client.banner_img.url }}') center; background-size: cover;" {% endif %}>
                <div class="overlay p-t-8 p-b-8">
                    <div class="row">
                        <div class="col-1-3 col-centered" id="user-info">
                            <div class="mdfProfilePic" {% if not client.profile_img %} style="background: url('{% static 'trainers/inc/icon.jpg' %}'); background-size: cover;" {% elif client.profile_img %}
                                                style="background: url('{{ client.profile_img.url }}') center; background-size: cover;" {% endif %}></div>
                        </div>
                        <div class="col-1-3 col">
                            <h1 class="mdfUserDeets logoscript">{{ user.first_name|title }} {{ user.last_name|title }}</h1>
                            <h1 class="mdfUserDeets">{{ client.location }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="row dashboard-col" id="mdfSettingsLinks">
                <div id="mdfDashCollapse">
                    <p>DASHBOARD MENU</p>
                </div>
                <div id="mdfDashLinkContainer">
                    <div class="row">
                        <h4><a href="#settings" class="active mdfClickToShow" data-target="settings" id="settingslink">settings</a></h4>
                    </div>
                    <div class="row">
                        <h4><a href="#goals" class="mdfDashLink mdfClickToShow" data-target="goals" id="goalslink">goals</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-col mdfClickContainer" id="settings">
            <div class="col-4-5 col-centered p-b-5">
                <h2 class="text-center mdfSexyWeight blue m-b-2 m-t-2">change your account settings</h2>
                {% for field in settingsForm %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form class="text-center" method="post" action="{% url 'clients:account' user.username %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mdfInputLabel">
                        <h4>Your Location:</h4>
                        {{ settingsForm.location }}
                    </div>
                    <div class="mdfFakeInput">
                        <div class="mdfInputLabel">
                            <h4>Profile Picture:</h4>
                            <h4 class="fakeInput"><a href="" id="prf" class="mdfLink">Choose a new profile picture</a></h4>
                            <h4 class="mdfFileName" id="profileImg"></h4>
                            {{ settingsForm.profile_img }}
                            {% if client.profile_img %}
                                <h4>Current profile picture:
                                    <a target="_blank" href="{{ client.profile_img.url }}" class="m-l-5 mdfLink">{{ client.photo_name }}</a>
                                    <a href="{% url 'clients:del_prof_pic' user.username %}" class="no-decor mdfRedHoverText m-l-5">x</a>
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mdfFakeInput">
                        <div class="mdfInputLabel">
                            <h4>Banner Image:</h4>
                            <h4 class="fakeInput"><a href="" id="bnr" class="mdfLink">Choose a new banner image</a></h4>
                            <h4 class="mdfFileName" id="bannerImg"></h4>
                            {{ settingsForm.banner_img }}
                            {% if client.banner_img %}
                                <h4>Current banner image:
                                    <a target="_blank" href="{{ client.banner_img.url }}" class="m-l-5 mdfLink">{{ client.banner_photo_name }}</a>
                                    <a href="{% url 'clients:del_ban_img' user.username %}" class="no-decor mdfRedHoverText m-l-5">x</a>
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mdfInputLabel">
                        <h4>Description:</h4>
                        {{ settingsForm.description }}
                    </div>
                    <input type="submit" name="mdfSaveClientSettings" class="mdfLogInBtn" value="Save Changes">
                </form>
            </div>
        </div>

        <div class="dashboard-col mdfClickContainer" id="goals">
            <div class="col-4-5 col-centered p-b-5">
                <div class="row m-b-2">
                    <div class="col-1-2 p-t-2">
                        <a href="#" class="no-decor pluslink slideDownForm" data-target="addgoal">
                            <img class="plusimg" src="{% static 'trainers/inc/plus.png' %}">
                        </a>
                        <p class="plusimg-brief">Add a goal</p>
                    </div>
                </div>
                <div class="row slideForm" id="addgoal">
                    <div class="col-3-4 col-centered">
                        <h2 class="text-center mdfSexyWeight blue">add a goal</h2>
                        {% for field in goalForm %}
                            {% for error in field.errors %}
                                <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <form method="post" class="text-center" action="{% url 'clients:settings' user.username %}">
                            {% csrf_token %}
                            <div class="mdfInputLabel">
                                <h4>Add a new goal:</h4>
                                {{ goalForm.goal }}
                            </div>
                            <div class="mdfInputLabel">
                                <h4>Starting point:</h4>
                                {{ goalForm.start }}
                            </div>
                            <input type="submit" name="mdfAddGoal" class="mdfLogInBtn" value="Add Goal">
                        </form>
                    </div>
                </div>
                {% if goals %}
                    {% for goal in goals %}
                        <div class="row p-t-5">
                            <h3 class="mdfSexyWeight m-b-2">{{ goal.goal }}
                                <a href="{% url 'clients:del_goal' user.username goal.pk %}" class="m-l-5 no-decor mdfRedHoverText">x</a>
                                <a href="#" class="mdfUpdateGoal slideDownForm" data-target="updategoal_{{ goal.id }}" id="down_{{ goal.id }}">
                                    update goal
                                </a>
                            </h3>
                            <div class="row slideForm" id="updategoal_{{ goal.id }}">
                                <div class="col-3-4 col-centered">
                                    <h2 class="text-center mdfSexyWeight blue">update this goal</h2>
                                    {% for field in goalForm %}
                                        {% for error in field.errors %}
                                            <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    <form method="post" class="text-center" action="{% url 'clients:settings' user.username %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ goal.id }}" name="goal_id">
                                        <div class="mdfInputLabel">
                                            <h4>Progress update:</h4>
                                            {{ updateGoal.update }}
                                        </div>
                                        <div class="mdfInputLabel">
                                            <h4>Increased by:</h4>
                                            {{ updateGoal.up }}
                                        </div>
                                        <div class="mdfInputLabel">
                                            <h4>Decreased by:</h4>
                                            {{ updateGoal.down }}
                                        </div>
                                        <input type="submit" name="mdfUpdateGoal" class="mdfLogInBtn" value="Update Goal">
                                    </form>
                                </div>
                            </div>
                            <div id="updates-wrapper">
                                <h4 class="mdfSexyWeight hide_updates">show updates</h4>
                                <div class="mdfFooterCopyContainer updates">
                                    {% get_updates goal.id %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row p-t-5">
                        <h3 class="mdfSexyWeight text-center">add some goals to get started on your fitness track</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'splash/js/jquery.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'skeleton/skeleton.js' %}"></script>
        <script src="{% static 'clients/js/account.js' %}"></script>
    {% endblock %}