{% extends 'index.html' %}
{% load static from staticfiles %}

    {% block stylesheets %}
        <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
        <link href="{% static 'trainers/css/style.css' %}" rel="stylesheet">
    {% endblock %}


    {% block mdfHeaderLinks %}
        <nav role="navigation" class="nav" id="mdfNav">
            <ul class="user-links">
                <li class="blue small">already have an account?</li>
                <li id="login"><a href="{% url 'splash:login' %}" class="link">log in</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block mdfContent %}
    <div class="row" id="mdfSignUp">
        <div class="container">
            <div class="col-1-2 col-centered">
                <h1 class="mdfSexyWeight m-b-2 white text-center">Get in the best shape of your life.</h1>
                <hr class="mdfHr">
            </div>
            <div class="col-1-2 p-t-2 col-centered">
                {% for field in newclient %}
                    {% for error in field.errors %}
                        <p class="error text-center">{{ field.label|title }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <form action="{% url 'clients:signup' %}" id="signup-form" method="post" class="text-center">
                    {% csrf_token %}
                    {% for field in newclient %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" class="mdfLogInBtn" value="Sign Up" />
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

{% block javascript %}
    <script src="{% static 'splash/js/jquery.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'skeleton/mask.js' %}"></script>
    <script src="{% static 'skeleton/skeleton.js' %}"></script>
    <script src="{% static 'trainers/js/trainers.js' %}"></script>
{% endblock %}