#progress {
    margin-left: 15%;
    width: 85%;
    max-height: 100%;
    background-color: #fff;
    border-left: solid 1px #48a9e7;
}

.chartjs {
    display: block;
    margin: 5% auto;
    width: 100% !important;
    min-height: 400px;
}

.mdfDashboardHeader {
    width: 75%;
    margin: 0 auto;
    border-bottom: solid 1px #b7b7b7;
    margin-bottom: 5%;
    padding-bottom: 2%;
}